<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box1">
        <p>26 December 2019<p>
        <h1>Lorem Ipsum Dolor2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eius delectus adipisci nobis ex facere, cupiditate vero temporibus quas dolorem rerum veritatis dignissimos at, accusamus sint harum sunt earum enim!</p>
        <button class="more" type="button">READ MORE</button>
    </div>
    <div class="box2"></div>
</body>
</html>